/* Changing Susy default global settings */
@import url(../bower_components/normalize.css);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
*, *:before, *:after {
  box-sizing: border-box;
}

::-moz-selection {
  background: #F7FF3F;
}

::selection {
  background: #F7FF3F;
}

body {
  margin: 10px;
  background: #FFFDF8;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  color: #000000;
}

h1, h2, h3, .projects-item-header, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 3em;
  line-height: 1.2em;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1em;
}

h3, .projects-item-header {
  font-size: 1.7em;
  line-height: 1em;
}

p {
  padding: 0.5em 1em;
}

blockquote {
  padding: 0.5em 1em;
  line-height: 1.4em;
  font-size: 1.3em;
}

a {
  color: #FF5108;
  text-decoration: underline;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

strong {
  font-weight: bold;
}

u {
  text-decoration: none;
  border-bottom: .1em dashed;
}

pre {
  font-family: monospace;
}

ol {
  padding: 0em 2em;
  list-style-type: decimal;
}

ul {
  padding: 2em;
  list-style-type: disc;
}

mark {
  background: #F7FF3F;
}

img {
  max-width: 100%;
}

body {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

.title:hover .title-arrow {
  transition: opacity .5s, -webkit-transform .2s;
  transition: opacity .5s, transform .2s;
  opacity: 1;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.title-arrow {
  opacity: 0;
  top: -15px;
  left: 15px;
  display: inline-block;
  width: 40px;
  height: 5px;
  border-radius: 10px;
  background: #FF5108;
  position: relative;
}
.title-arrow:before, .title-arrow:after {
  border-radius: 10px;
  display: block;
  content: "";
  background: #FF5108;
  position: absolute;
  width: 25px;
  height: 5px;
  right: -3px;
}
.title-arrow:before {
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transform-origin: 0%, 0%;
      -ms-transform-origin: 0%, 0%;
          transform-origin: 0%, 0%;
  top: -6px;
}
.title-arrow:after {
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg);
  -webkit-transform-origin: 0%, 100%;
      -ms-transform-origin: 0%, 100%;
          transform-origin: 0%, 100%;
  top: 6px;
}

.titleimg {
  float: right;
  padding: 1em;
}

.projects {
  list-style-type: none;
  padding: 1em;
}
.projects:after {
  content: "";
  display: table;
  clear: both;
}

.projects-item {
  position: relative;
  padding-bottom: 11.11111%;
}
@media (min-width: 600px) {
  .projects-item {
    width: 44.44444%;
    float: left;
    margin-right: 11.11111%;
    padding-bottom: 5.26316%;
  }
  .projects-item:nth-child(3), .projects-item:nth-child(2n+5) {
    float: right;
    margin-right: 0;
  }
}
.projects-item p {
  padding: 0 0 0 .5em;
}

.projects-item-header {
  position: absolute;
  top: 0;
  padding: .5em .5em;
  margin-top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
}
.projects-item-header small {
  font-size: .7em;
  font-weight: 300;
  display: block;
}

@media (min-width: 600px) {
  .projects-item:first-child {
    padding-bottom: 11.11111%;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  .projects-item:first-child img {
    width: 41.17647%;
    float: right;
    margin-right: 0;
  }
  .projects-item:first-child .post-content {
    width: 55.88235%;
    float: left;
    margin-right: 2.94118%;
  }
  .projects-item:first-child .projects-item-header {
    background: inherit;
    width: 55.88235%;
    float: left;
    margin-right: 2.94118%;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .projects-item:first-child p {
    padding: 0;
  }
}

.meta {
  padding: 0.5em 1em;
}

.meta-period, .meta-technology {
  display: block;
}

.img-responsive {
  width: 100%;
}

@media (min-width: 600px) {
  .post-img {
    width: 48.27586%;
    float: right;
    margin-right: 0;
    padding: 1em;
  }
}

.gallery {
  padding-top: 1em;
}

@media (min-width: 600px) {
  .gallery-img {
    padding: .2em;
    background: #FF5108;
    box-shadow: 0.8em 0.8em rgba(0, 0, 0, 0.9);
  }
  .gallery-img:hover {
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
    transition: 0.2s;
  }
}

.gallery-3:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 600px) {
  .gallery-3 a {
    width: 28.57143%;
    float: left;
    margin-right: 7.14286%;
  }
  .gallery-3 a:last-child {
    float: right;
    margin-right: 0;
  }
}

.gallery-2:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 600px) {
  .gallery-2 img {
    width: 44.44444%;
    float: left;
    margin-right: 11.11111%;
  }
  .gallery-2 img:last-of-type {
    float: right;
    margin-right: 0;
  }
}

.lightbox {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity .3s ease-in-out;
  overflow: hidden;
}

.lightbox img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  transition: .3s ease-in-out;
}

.lightbox:target {
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
}
.lightbox:target .button-close {
  top: 0;
}

.lightbox:target img {
  max-height: 90%;
  max-width: 90%;
}

.button-close {
  background: #fff;
  position: absolute;
  right: 0;
  height: 50px;
  width: 50px;
  top: -80px;
  transition: .5s ease-in-out;
  z-index: 1;
}
.button-close:hover:before {
  -webkit-transform: rotate(135deg) scale(0.9);
      -ms-transform: rotate(135deg) scale(0.9);
          transform: rotate(135deg) scale(0.9);
}
.button-close:hover:after {
  -webkit-transform: rotate(45deg) scale(0.9);
      -ms-transform: rotate(45deg) scale(0.9);
          transform: rotate(45deg) scale(0.9);
}
.button-close:before, .button-close:after {
  content: "";
  background: #000;
  display: block;
  height: 30px;
  width: 4px;
  position: absolute;
  left: 25px;
  top: 10px;
  border-radius: 20px;
  transition: .2s;
}
.button-close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.button-close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
