<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ site.name }}</title>
      <meta name="viewport" content="width=device-width">
      <link rel="shortcut icon" href="favicon.ico">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="/css/main.css">
      
  </head>
  <body>
    <header>
      <h1 class="title"><a href="/">{{ site.name }} </a><span class="title-arrow"></span>&nbsp;</h1>
    </header>

    <main>
      

      {{ content }}

    </main>

    <footer>
      <div class="contact">
        <p> 
          <a href="https://github.com/sjurlur">github.com/sjurlur</a><br />
          <a href="https://linkedin.com/in/sjurseibt">linkedin.com/sjurseibt</a><br />
        </p>
      </div>
    </footer>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- Main script -->
    <script>

    //Back to top.js
    jQuery(document).ready(function($){
      // browser window scroll (in pixels) after which the "back to top" link is shown
      var offset = 300,
        //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
        offset_opacity = 1200,
        //duration of the top scrolling animation (in ms)
        scroll_top_duration = 700,
        //grab the "back to top" link
        $back_to_top = $('.button-top');

      //hide or show the "back to top" link
      $(window).scroll(function(){
        ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
        if( $(this).scrollTop() > offset_opacity ) { 
          $back_to_top.addClass('button-top-fade-out');
        }
      });

      //smooth scroll to top
      $back_to_top.on('click', function(event){
        event.preventDefault();
        $('body,html').animate({
          scrollTop: 0 ,
          }, scroll_top_duration
        );
      });

    });

    //preventdefault.js
    $("a[href^=#]").on("click", function(e) {
      e.preventDefault();
      // Basically the same as doing nothing except we bypass a history entry.
      location.replace( '#' + this.href.substr( this.href.lastIndexOf( '#' ) + 1 ) );
    });
    </script>
    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58790092-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
